.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
body {
    background-color: white;
}
.form-input {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button[type=submit] {
    width: 100px;
    height: 40px;
}
.submit-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.form-radio {
    display: flex;
    align-items: center;
    justify-content: right;
}
input[id=radio-black] {
    width: 20px;
    height: 20px;
}
input[id=radio-white] {
    width: 20px;
    height: 20px;
}
